-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: hospinew
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `pswd` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'NewAdmin','newadmin123@gmail.com','newadmin123');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ambulances`
--

DROP TABLE IF EXISTS `ambulances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ambulances` (
  `id` int NOT NULL AUTO_INCREMENT,
  `users_id` int NOT NULL,
  `ambulance_type` varchar(100) DEFAULT NULL,
  `base_chrge` varchar(100) DEFAULT NULL,
  `min_chrge` varchar(100) DEFAULT NULL,
  `night_chrg` varchar(100) DEFAULT NULL,
  `wait_chrg` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `eta` varchar(100) DEFAULT NULL,
  `book_time_slot` varchar(255) DEFAULT NULL,
  `area` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `lic` varchar(255) DEFAULT NULL,
  `rc` varchar(255) DEFAULT NULL,
  `driver_exp` varchar(50) DEFAULT NULL,
  `veh_ins` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_ambulance_users` (`users_id`),
  CONSTRAINT `fk_ambulance_users` FOREIGN KEY (`users_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ambulances`
--

LOCK TABLES `ambulances` WRITE;
/*!40000 ALTER TABLE `ambulances` DISABLE KEYS */;
INSERT INTO `ambulances` VALUES (2,5,'Basic','50','20','15','10','Available','5mins','Open','mumbai and thane','hii hello very niice','1778133963831-461307295.png','1778133963832-402554440.jfif','C:\\fakepath\\download (2).png','1778133963834-631724917.jpg','2026-05-07 06:06:03'),(3,5,'Oxygen Supported','250','50','50','50','Available','5mins','Not specific','mumbai, thane','hello hii very niice ambulance','1778224694174-893277494.jfif','1778224694178-391592687.jpg','2yrs','1778224694226-736385493.jfif','2026-05-08 07:18:14');
/*!40000 ALTER TABLE `ambulances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospitals`
--

DROP TABLE IF EXISTS `hospitals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospitals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `users_id` int NOT NULL,
  `hospital_images` json DEFAULT NULL,
  `hospital_name` varchar(255) NOT NULL,
  `address` text NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `facilities` text,
  `rooms` json DEFAULT NULL,
  `doctors` json DEFAULT NULL,
  `hospital_reg_certificate` varchar(255) DEFAULT NULL,
  `shop_license` varchar(255) DEFAULT NULL,
  `medical_council_registration` varchar(255) DEFAULT NULL,
  `electricity_bill` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_hospital_users` (`users_id`),
  CONSTRAINT `fk_hospital_users` FOREIGN KEY (`users_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospitals`
--

LOCK TABLES `hospitals` WRITE;
/*!40000 ALTER TABLE `hospitals` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospitals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insurances`
--

DROP TABLE IF EXISTS `insurances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insurances` (
  `id` int NOT NULL AUTO_INCREMENT,
  `users_id` int NOT NULL,
  `comp_name` varchar(100) DEFAULT NULL,
  `comp_type` varchar(50) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `irdai` varchar(50) DEFAULT NULL,
  `comp_pan` varchar(255) DEFAULT NULL,
  `gst` varchar(20) DEFAULT NULL,
  `incorp_cert` varchar(255) DEFAULT NULL,
  `offc_add` varchar(255) DEFAULT NULL,
  `add_proof` varchar(255) DEFAULT NULL,
  `claim_type` varchar(50) DEFAULT NULL,
  `doc_req` varchar(255) DEFAULT NULL,
  `claim_time` varchar(50) DEFAULT NULL,
  `cust_sup_num` varchar(11) DEFAULT NULL,
  `email_sup` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ins_price` varchar(50) DEFAULT NULL,
  `contact_person` varchar(255) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `claim_price` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_insurance_users` (`users_id`),
  CONSTRAINT `fk_insurance_users` FOREIGN KEY (`users_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insurances`
--

LOCK TABLES `insurances` WRITE;
/*!40000 ALTER TABLE `insurances` DISABLE KEYS */;
/*!40000 ALTER TABLE `insurances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `labs`
--

DROP TABLE IF EXISTS `labs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `labs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `users_id` int NOT NULL,
  `lab_name` varchar(100) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `lab_type` json DEFAULT NULL,
  `test` json DEFAULT NULL,
  `home_coll` varchar(5) DEFAULT NULL,
  `extra_chrg` int DEFAULT NULL,
  `available_areas` varchar(255) DEFAULT NULL,
  `lab_reg` varchar(255) DEFAULT NULL,
  `nabl` varchar(255) DEFAULT NULL,
  `path_qual_cer` varchar(255) DEFAULT NULL,
  `pathologist` json DEFAULT NULL,
  `adv_equipment` varchar(5) DEFAULT NULL,
  `lab_hrs` varchar(100) DEFAULT NULL,
  `test_time` varchar(10) DEFAULT NULL,
  `emergency_test` varchar(5) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `test_price` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_lab_users` (`users_id`),
  CONSTRAINT `fk_lab_users` FOREIGN KEY (`users_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `labs`
--

LOCK TABLES `labs` WRITE;
/*!40000 ALTER TABLE `labs` DISABLE KEYS */;
/*!40000 ALTER TABLE `labs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `med_eq_prd`
--

DROP TABLE IF EXISTS `med_eq_prd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `med_eq_prd` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `vendor_id` int NOT NULL,
  `product_name` varchar(255) NOT NULL,
  `brand_name` varchar(255) DEFAULT NULL,
  `category` varchar(150) DEFAULT NULL,
  `sub_category` varchar(150) DEFAULT NULL,
  `model_number` varchar(150) DEFAULT NULL,
  `sku_code` varchar(150) DEFAULT NULL,
  `manufacturer` varchar(255) DEFAULT NULL,
  `country_of_origin` varchar(150) DEFAULT NULL,
  `product_description` text,
  `specifications` text,
  `material` varchar(255) DEFAULT NULL,
  `color` varchar(100) DEFAULT NULL,
  `weight` varchar(100) DEFAULT NULL,
  `dimensions` varchar(150) DEFAULT NULL,
  `warranty_period` varchar(100) DEFAULT NULL,
  `warranty_type` varchar(100) DEFAULT NULL,
  `service_available` enum('Yes','No') DEFAULT 'No',
  `installation_available` enum('Yes','No') DEFAULT 'No',
  `demo_available` enum('Yes','No') DEFAULT 'No',
  `rental_available` enum('Yes','No') DEFAULT 'No',
  `mrp` decimal(10,2) NOT NULL,
  `selling_price` decimal(10,2) NOT NULL,
  `gst_percentage` decimal(5,2) DEFAULT '0.00',
  `discount_percentage` decimal(5,2) DEFAULT '0.00',
  `stock_quantity` int DEFAULT '0',
  `minimum_stock_alert` int DEFAULT '5',
  `stock_status` enum('In Stock','Low Stock','Out Of Stock') DEFAULT 'In Stock',
  `serial_number` varchar(255) DEFAULT NULL,
  `batch_number` varchar(255) DEFAULT NULL,
  `manufacturing_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `usage_type` enum('Disposable','Reusable') DEFAULT 'Reusable',
  `sterilized` enum('Yes','No') DEFAULT 'No',
  `prescription_required` enum('Yes','No') DEFAULT 'No',
  `certification` text,
  `barcode_number` varchar(255) DEFAULT NULL,
  `qr_code` varchar(255) DEFAULT NULL,
  `thumbnail_image` varchar(500) DEFAULT NULL,
  `product_manual` varchar(500) DEFAULT NULL,
  `product_video` varchar(500) DEFAULT NULL,
  `delivery_available` enum('Yes','No') DEFAULT 'Yes',
  `delivery_charge` decimal(10,2) DEFAULT '0.00',
  `estimated_delivery_days` varchar(100) DEFAULT NULL,
  `return_available` enum('Yes','No') DEFAULT 'No',
  `return_policy` text,
  `featured_product` enum('Yes','No') DEFAULT 'No',
  `product_status` enum('Active','Inactive','Out Of Stock','Discontinued') DEFAULT 'Active',
  `total_views` int DEFAULT '0',
  `total_orders` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`product_id`),
  KEY `idx_vendor_id` (`vendor_id`),
  CONSTRAINT `fk_equipment_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `med_eq_prd`
--

LOCK TABLES `med_eq_prd` WRITE;
/*!40000 ALTER TABLE `med_eq_prd` DISABLE KEYS */;
INSERT INTO `med_eq_prd` VALUES (1,16,'Wheelchair','tata','ABCD','ABCD','1342',NULL,'tata','india','very niice for unwalkables',NULL,NULL,NULL,NULL,NULL,'4yrs',NULL,'No','No','No','No',15000.00,10000.00,0.00,0.00,50,5,'In Stock',NULL,NULL,NULL,NULL,'Reusable','No','No',NULL,NULL,NULL,'med_prod (3).jpg',NULL,NULL,'Yes',500.00,NULL,'No',NULL,'No','Active',0,0,'2026-05-09 09:45:45','2026-05-12 07:19:24');
/*!40000 ALTER TABLE `med_eq_prd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `med_equipments`
--

DROP TABLE IF EXISTS `med_equipments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `med_equipments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `users_id` int NOT NULL,
  `ven_bus_name` varchar(100) DEFAULT NULL,
  `owner_name` varchar(50) DEFAULT NULL,
  `business_type` varchar(50) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `address_proof` varchar(255) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `qual_cer` varchar(255) DEFAULT NULL,
  `app_comp` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_med_equipments_users` (`users_id`),
  CONSTRAINT `fk_med_equipments_users` FOREIGN KEY (`users_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `med_equipments`
--

LOCK TABLES `med_equipments` WRITE;
/*!40000 ALTER TABLE `med_equipments` DISABLE KEYS */;
INSERT INTO `med_equipments` VALUES (2,16,'lalu','lalu','Individual','hii hello very good','darbhanga, bihar','1778144853172-805047830.jfif','we\'ll do later','1778144853172-297503977.jfif','1778144853172-241784185.jpg','2026-05-07 09:07:33');
/*!40000 ALTER TABLE `med_equipments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `med_lists`
--

DROP TABLE IF EXISTS `med_lists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `med_lists` (
  `medicine_id` int NOT NULL AUTO_INCREMENT,
  `vendor_id` int NOT NULL,
  `medicine_name` varchar(255) NOT NULL,
  `generic_name` varchar(255) DEFAULT NULL,
  `brand_name` varchar(255) DEFAULT NULL,
  `medicine_type` enum('Tablet','Capsule','Syrup','Injection','Cream','Drops','Powder','Other') DEFAULT 'Tablet',
  `category` varchar(100) DEFAULT NULL,
  `manufacturer` varchar(255) DEFAULT NULL,
  `composition` text,
  `mrp` decimal(10,2) NOT NULL,
  `selling_price` decimal(10,2) NOT NULL,
  `gst_percentage` decimal(5,2) DEFAULT '0.00',
  `discount_percentage` decimal(5,2) DEFAULT '0.00',
  `stock_quantity` int DEFAULT '0',
  `minimum_stock_alert` int DEFAULT '10',
  `batch_number` varchar(100) DEFAULT NULL,
  `manufacturing_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `prescription_required` enum('Yes','No') DEFAULT 'No',
  `schedule_type` enum('OTC','H','H1','X') DEFAULT 'OTC',
  `uses_info` text,
  `dosage_instructions` text,
  `side_effects` text,
  `warnings` text,
  `storage_instructions` text,
  `delivery_available` enum('Yes','No') DEFAULT 'Yes',
  `delivery_charge` decimal(10,2) DEFAULT '0.00',
  `medicine_image` varchar(500) DEFAULT NULL,
  `barcode_number` varchar(255) DEFAULT NULL,
  `medicine_status` enum('Active','Out Of Stock','Discontinued') DEFAULT 'Active',
  `featured_medicine` enum('Yes','No') DEFAULT 'No',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `user_id` int NOT NULL,
  PRIMARY KEY (`medicine_id`),
  KEY `fk_med_vendor` (`vendor_id`),
  CONSTRAINT `fk_med_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `med_lists`
--

LOCK TABLES `med_lists` WRITE;
/*!40000 ALTER TABLE `med_lists` DISABLE KEYS */;
INSERT INTO `med_lists` VALUES (1,15,'Pyaaracetabol',NULL,'xyz','Tablet','yxz','saathi and co','hellohii very niice',150.00,180.00,3.00,11.00,120,10,'55','2026-02-11','2028-02-11','Yes','OTC','use with lukewarm water after heavy food','one tablet for adults and half for childrens','vomitting','keep out of children below 5 yrs','store in cool and dry place','Yes',25.00,'medicines (8).jpg','456482','Active','Yes','2026-05-12 05:49:27','2026-05-12 07:22:23',15);
/*!40000 ALTER TABLE `med_lists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicines`
--

DROP TABLE IF EXISTS `medicines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `users_id` int NOT NULL,
  `pharm_name` varchar(100) DEFAULT NULL,
  `owner_name` varchar(50) DEFAULT NULL,
  `shop_type` varchar(50) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `drug_lic` varchar(255) DEFAULT NULL,
  `issued_by` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `address_proof` varchar(255) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `phar_counc_reg` varchar(255) DEFAULT NULL,
  `prod_avb` json DEFAULT NULL,
  `home_dev` varchar(50) DEFAULT NULL,
  `dev_area` varchar(255) DEFAULT NULL,
  `dev_chrg` int DEFAULT NULL,
  `shop_hrs` varchar(50) DEFAULT NULL,
  `avlblty` varchar(50) DEFAULT NULL,
  `gst_cer` varchar(255) DEFAULT NULL,
  `pharm_cer` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_medicine_users` (`users_id`),
  CONSTRAINT `fk_medicine_users` FOREIGN KEY (`users_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicines`
--

LOCK TABLES `medicines` WRITE;
/*!40000 ALTER TABLE `medicines` DISABLE KEYS */;
INSERT INTO `medicines` VALUES (4,15,'Neha Chemist','neha','Wholesale','hii hello very niice','1778144403668-642399695.png','central drugs state','unnat nagar, goregaon west','1778144403670-939337381.jpg','we\'ll do later','mh-1234-4566','[\"Prescription Medicines\", \"OTC (Over the Counter)\", \"Surgical Items\", \"Health Products\"]','Yes','mumbai, thane',2500,'7am','24X7','1778144403687-414091616.jfif','1778144403688-415552728.jpg','2026-05-07 09:00:03');
/*!40000 ALTER TABLE `medicines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_users`
--

DROP TABLE IF EXISTS `product_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `password` varchar(255) NOT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `blood_group` varchar(10) DEFAULT NULL,
  `profile_photo` varchar(255) DEFAULT NULL,
  `address` text,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `pincode` varchar(10) DEFAULT NULL,
  `wallet_balance` decimal(10,2) DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `phone` (`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_users`
--

LOCK TABLES `product_users` WRITE;
/*!40000 ALTER TABLE `product_users` DISABLE KEYS */;
INSERT INTO `product_users` VALUES (3,'Nilesh ','nilesh123@gmail.com','9462158730','nilesh123','male','2004-07-01','B+','1778554856462-688492544.jfif','nilegaon, nallasopara west, palghar, maharashtra','mumbai','maharashtra','401107',0.00,'2026-05-12 03:00:56','2026-05-12 03:00:56'),(4,'Shushant Gautam','susu123@gmail.com','9465812377','susu123','male','2003-11-28','B+','1778748210834-401309305.jpg','santosh bhuvan, nallasopara west, mumbai, maharashtra','mumbai','maharashtra','401701',0.00,'2026-05-14 08:43:31','2026-05-14 08:43:31');
/*!40000 ALTER TABLE `product_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_ambulance_bookings`
--

DROP TABLE IF EXISTS `user_ambulance_bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_ambulance_bookings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `ambulance_id` int DEFAULT NULL,
  `patient_name` varchar(100) DEFAULT NULL,
  `patient_condition` text,
  `pickup_address` text,
  `destination_address` text,
  `booking_date` datetime DEFAULT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `booking_status` enum('pending','accepted','completed','cancelled') DEFAULT 'pending',
  `payment_status` enum('pending','paid') DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `razorpay_order_id` varchar(255) DEFAULT NULL,
  `razorpay_payment_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_ambulance_bookings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_ambulance_bookings`
--

LOCK TABLES `user_ambulance_bookings` WRITE;
/*!40000 ALTER TABLE `user_ambulance_bookings` DISABLE KEYS */;
INSERT INTO `user_ambulance_bookings` VALUES (1,4,3,'Kalpes','Unable to walkup','abcd, efg, hij, mumbai','km hospital','2026-05-15 14:46:00',250.00,'pending','pending','2026-05-14 09:10:37',NULL,NULL),(2,4,3,'SUSU','critical','sanotsh bhuvan nallasopara east','any nearest hospital','2026-05-15 13:33:00',250.00,'completed','paid','2026-05-15 07:06:31','order_SpYEZXD5l22Jsu','pay_SpYFMt28BdcoAx');
/*!40000 ALTER TABLE `user_ambulance_bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_equipment_order_items`
--

DROP TABLE IF EXISTS `user_equipment_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_equipment_order_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `equipment_order_id` int DEFAULT NULL,
  `equipment_id` int DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `price` decimal(10,2) DEFAULT NULL,
  `subtotal` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `equipment_order_id` (`equipment_order_id`),
  CONSTRAINT `user_equipment_order_items_ibfk_1` FOREIGN KEY (`equipment_order_id`) REFERENCES `user_equipment_orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_equipment_order_items`
--

LOCK TABLES `user_equipment_order_items` WRITE;
/*!40000 ALTER TABLE `user_equipment_order_items` DISABLE KEYS */;
INSERT INTO `user_equipment_order_items` VALUES (1,1,1,1,10000.00,10000.00);
/*!40000 ALTER TABLE `user_equipment_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_equipment_orders`
--

DROP TABLE IF EXISTS `user_equipment_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_equipment_orders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `equipment_vendor_id` int DEFAULT NULL,
  `order_type` enum('rent','buy') DEFAULT NULL,
  `rent_start_date` date DEFAULT NULL,
  `rent_end_date` date DEFAULT NULL,
  `delivery_address` text,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `payment_status` enum('pending','paid') DEFAULT 'pending',
  `order_status` enum('placed','delivered','returned','cancelled') DEFAULT 'placed',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_equipment_orders_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_equipment_orders`
--

LOCK TABLES `user_equipment_orders` WRITE;
/*!40000 ALTER TABLE `user_equipment_orders` DISABLE KEYS */;
INSERT INTO `user_equipment_orders` VALUES (1,4,16,'buy',NULL,NULL,NULL,10000.00,'paid','placed','2026-05-16 08:13:53');
/*!40000 ALTER TABLE `user_equipment_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_hospital_bookings`
--

DROP TABLE IF EXISTS `user_hospital_bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_hospital_bookings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `hospital_id` int DEFAULT NULL,
  `patient_name` varchar(100) DEFAULT NULL,
  `patient_age` int DEFAULT NULL,
  `patient_gender` varchar(20) DEFAULT NULL,
  `room_type` varchar(100) DEFAULT NULL,
  `bed_type` varchar(100) DEFAULT NULL,
  `admission_date` date DEFAULT NULL,
  `discharge_date` date DEFAULT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `booking_status` enum('pending','confirmed','cancelled','completed') DEFAULT 'pending',
  `payment_status` enum('pending','paid','failed') DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `razorpay_order_id` varchar(255) DEFAULT NULL,
  `razorpay_payment_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_hospital_bookings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_hospital_bookings`
--

LOCK TABLES `user_hospital_bookings` WRITE;
/*!40000 ALTER TABLE `user_hospital_bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_hospital_bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_insurance_claims`
--

DROP TABLE IF EXISTS `user_insurance_claims`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_insurance_claims` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `insurance_purchase_id` int DEFAULT NULL,
  `hospital_id` int DEFAULT NULL,
  `claim_amount` decimal(10,2) DEFAULT NULL,
  `claim_reason` text,
  `medical_documents` varchar(255) DEFAULT NULL,
  `claim_status` enum('pending','approved','rejected') DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `insurance_purchase_id` (`insurance_purchase_id`),
  CONSTRAINT `user_insurance_claims_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`),
  CONSTRAINT `user_insurance_claims_ibfk_2` FOREIGN KEY (`insurance_purchase_id`) REFERENCES `user_insurance_purchases` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_insurance_claims`
--

LOCK TABLES `user_insurance_claims` WRITE;
/*!40000 ALTER TABLE `user_insurance_claims` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_insurance_claims` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_insurance_purchases`
--

DROP TABLE IF EXISTS `user_insurance_purchases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_insurance_purchases` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `insurance_vendor_id` int DEFAULT NULL,
  `plan_name` varchar(255) DEFAULT NULL,
  `policy_number` varchar(100) DEFAULT NULL,
  `coverage_amount` decimal(10,2) DEFAULT NULL,
  `premium_amount` decimal(10,2) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `insurance_status` enum('active','expired','cancelled') DEFAULT 'active',
  `payment_status` enum('pending','paid') DEFAULT 'paid',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_insurance_purchases_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_insurance_purchases`
--

LOCK TABLES `user_insurance_purchases` WRITE;
/*!40000 ALTER TABLE `user_insurance_purchases` DISABLE KEYS */;
INSERT INTO `user_insurance_purchases` VALUES (1,4,2,'KP Enterprises','POL841906',680000.00,34000.00,'2026-05-16','2027-05-16','active','paid','2026-05-16 05:41:02');
/*!40000 ALTER TABLE `user_insurance_purchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_lab_test_bookings`
--

DROP TABLE IF EXISTS `user_lab_test_bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_lab_test_bookings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `lab_vendor_id` int DEFAULT NULL,
  `test_name` varchar(255) DEFAULT NULL,
  `patient_name` varchar(100) DEFAULT NULL,
  `sample_collection_type` enum('home','lab') DEFAULT NULL,
  `booking_date` date DEFAULT NULL,
  `report_file` varchar(255) DEFAULT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `booking_status` enum('pending','completed','cancelled') DEFAULT 'pending',
  `payment_status` enum('pending','paid') DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_lab_test_bookings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_lab_test_bookings`
--

LOCK TABLES `user_lab_test_bookings` WRITE;
/*!40000 ALTER TABLE `user_lab_test_bookings` DISABLE KEYS */;
INSERT INTO `user_lab_test_bookings` VALUES (1,4,6,'Lab Test','Aadi','lab','2026-05-18','1779086697248-443074893.pdf',1200.00,'pending','paid','2026-05-15 09:08:48'),(2,4,4,'Lab Test','hfgsdc','lab','2026-05-26',NULL,1500.00,'pending','paid','2026-05-19 04:25:19');
/*!40000 ALTER TABLE `user_lab_test_bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_medical_history`
--

DROP TABLE IF EXISTS `user_medical_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_medical_history` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `disease_name` varchar(255) DEFAULT NULL,
  `diagnosis_date` date DEFAULT NULL,
  `treatment` text,
  `doctor_name` varchar(100) DEFAULT NULL,
  `hospital_name` varchar(150) DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_medical_history_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_medical_history`
--

LOCK TABLES `user_medical_history` WRITE;
/*!40000 ALTER TABLE `user_medical_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_medical_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_medicine_order_items`
--

DROP TABLE IF EXISTS `user_medicine_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_medicine_order_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `medicine_order_id` int DEFAULT NULL,
  `medicine_id` int DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `price` decimal(10,2) DEFAULT NULL,
  `subtotal` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `medicine_order_id` (`medicine_order_id`),
  CONSTRAINT `user_medicine_order_items_ibfk_1` FOREIGN KEY (`medicine_order_id`) REFERENCES `user_medicine_orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_medicine_order_items`
--

LOCK TABLES `user_medicine_order_items` WRITE;
/*!40000 ALTER TABLE `user_medicine_order_items` DISABLE KEYS */;
INSERT INTO `user_medicine_order_items` VALUES (1,3,1,5,180.00,900.00),(2,4,1,1,180.00,180.00);
/*!40000 ALTER TABLE `user_medicine_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_medicine_orders`
--

DROP TABLE IF EXISTS `user_medicine_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_medicine_orders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `medicine_vendor_id` int DEFAULT NULL,
  `prescription_file` varchar(255) DEFAULT NULL,
  `delivery_address` text,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `payment_status` enum('pending','paid','failed') DEFAULT 'pending',
  `order_status` enum('placed','packed','shipped','delivered','cancelled') DEFAULT 'placed',
  `ordered_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_medicine_orders_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_medicine_orders`
--

LOCK TABLES `user_medicine_orders` WRITE;
/*!40000 ALTER TABLE `user_medicine_orders` DISABLE KEYS */;
INSERT INTO `user_medicine_orders` VALUES (1,4,NULL,NULL,NULL,2160.00,NULL,'paid','placed','2026-05-16 06:58:50'),(2,4,NULL,NULL,NULL,2160.00,NULL,'paid','placed','2026-05-16 07:37:23'),(3,4,15,NULL,NULL,900.00,'online','paid','placed','2026-05-19 05:15:33'),(4,3,15,NULL,NULL,180.00,'online','paid','placed','2026-05-19 06:19:01');
/*!40000 ALTER TABLE `user_medicine_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_notifications`
--

DROP TABLE IF EXISTS `user_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `message` text,
  `notification_type` varchar(100) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_notifications`
--

LOCK TABLES `user_notifications` WRITE;
/*!40000 ALTER TABLE `user_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_payments`
--

DROP TABLE IF EXISTS `user_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_payments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `payment_for` varchar(100) DEFAULT NULL,
  `reference_id` int DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `transaction_id` varchar(255) DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  `payment_status` enum('pending','success','failed') DEFAULT 'pending',
  `paid_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_payments_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_payments`
--

LOCK TABLES `user_payments` WRITE;
/*!40000 ALTER TABLE `user_payments` DISABLE KEYS */;
INSERT INTO `user_payments` VALUES (1,4,'equipment_order',1,'razorpay','pay_SpxvZ3aq9qM8qq',10000.00,'success','2026-05-16 08:13:53'),(2,4,'medicine_order',3,'razorpay','pay_Sr6UbYohkw2iUW',900.00,'success','2026-05-19 05:15:33'),(3,3,'medicine_order',4,'razorpay','pay_Sr7ZeqlfHobzp8',180.00,'success','2026-05-19 06:19:01');
/*!40000 ALTER TABLE `user_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_prescriptions`
--

DROP TABLE IF EXISTS `user_prescriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_prescriptions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `doctor_name` varchar(100) DEFAULT NULL,
  `hospital_name` varchar(150) DEFAULT NULL,
  `prescription_file` varchar(255) DEFAULT NULL,
  `notes` text,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_prescriptions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `product_users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_prescriptions`
--

LOCK TABLES `user_prescriptions` WRITE;
/*!40000 ALTER TABLE `user_prescriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_prescriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `emailorcontact` varchar(100) DEFAULT NULL,
  `identity_proof` varchar(255) DEFAULT NULL,
  `profile_photo` varchar(255) DEFAULT NULL,
  `bank_account` varchar(20) DEFAULT NULL,
  `ifsc` varchar(20) DEFAULT NULL,
  `cheque` varchar(255) DEFAULT NULL,
  `users_type` varchar(20) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_payouts`
--

DROP TABLE IF EXISTS `vendor_payouts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_payouts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `vendor_id` int NOT NULL,
  `amount` decimal(10,2) DEFAULT '0.00',
  `razorpay_payment_id` varchar(255) DEFAULT NULL,
  `payout_status` varchar(50) DEFAULT 'paid',
  `paid_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `vendor_id` (`vendor_id`),
  CONSTRAINT `vendor_payouts_ibfk_1` FOREIGN KEY (`vendor_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_payouts`
--

LOCK TABLES `vendor_payouts` WRITE;
/*!40000 ALTER TABLE `vendor_payouts` DISABLE KEYS */;
INSERT INTO `vendor_payouts` VALUES (1,11,2700.00,'pay_SrAIVo5zDwnrBS','paid','2026-05-19 08:58:56');
/*!40000 ALTER TABLE `vendor_payouts` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-20  8:20:42
